.guidance-navbar .guidance-element-overlay {
  z-index: 950;
  right: 1.875rem;
  margin-top: 0; }

.guidance-wrapper-add-control .guidance-element {
  margin-top: 1.25rem;
  bottom: 0.9375rem; }

.is-guided {
  pointer-events: auto; }

@media only screen and (max-width: 40em) {
  .course-outline {
    margin: 0 -1rem; } }

#copy-details-ftue .guidance-element-overlay {
  margin-top: -7rem; }
  @media only screen and (min-width: 40.0625em) {
    #copy-details-ftue .guidance-element-overlay {
      right: 1rem;
      margin-left: auto;
      left: auto; } }

#copy-details-notification-ftue .guidance-element-overlay {
  margin-top: -9rem; }
  @media only screen and (min-width: 40.0625em) {
    #copy-details-notification-ftue .guidance-element-overlay {
      right: 20rem;
      margin-left: auto;
      left: auto; } }
  @media only screen and (max-width: 40em) {
    #copy-details-notification-ftue .guidance-element-overlay {
      margin-top: -11rem; } }

.course-outline:not(.no-create) .content-outline-scroll-container {
  margin-top: -0.125rem; }

.course-outline.is-empty-page .element-list-add-menu {
  max-height: 100%; }
  @media only screen and (max-width: 40em) {
    .course-outline.is-empty-page .element-list-add-menu li {
      margin-bottom: 0; }
      .course-outline.is-empty-page .element-list-add-menu li:first-child {
        margin-top: 0 !important; } }

.course-outline.is-empty-page.learning-module-enabled .add-element {
  height: auto !important;
  margin: 0;
  margin-top: 0.125rem; }
  .course-outline.is-empty-page.learning-module-enabled .add-element::before {
    content: ""; }
  .course-outline.is-empty-page.learning-module-enabled .add-element .button-add-content {
    display: block; }
    .course-outline.is-empty-page.learning-module-enabled .add-element .button-add-content:hover {
      opacity: 1; }
    .course-outline.is-empty-page.learning-module-enabled .add-element .button-add-content:focus, .course-outline.is-empty-page.learning-module-enabled .add-element .button-add-content:active {
      opacity: 1; }
  .course-outline.is-empty-page.learning-module-enabled .add-element .element-list-add-menu {
    margin-top: 0;
    border: 0;
    max-height: 12.5rem;
    border-bottom: 1px solid #a234b5;
    box-shadow: inset 0 0.25rem 0 0 rgba(197, 111, 213, 0.2), inset 0 -0.25rem 0 0 rgba(197, 111, 213, 0.2); }
    @media only screen and (max-width: 40em), only screen and (min-width: 40.0625em) and (max-width: 64em) {
      .course-outline.is-empty-page.learning-module-enabled .add-element .element-list-add-menu {
        top: 0 !important;
        max-height: unset; }
        .course-outline.is-empty-page.learning-module-enabled .add-element .element-list-add-menu li {
          width: 50%;
          margin-bottom: 0; }
        .course-outline.is-empty-page.learning-module-enabled .add-element .element-list-add-menu li:nth-of-type(1n+1) {
          clear: none; } }
  .course-outline.is-empty-page.learning-module-enabled .add-element.is-active {
    background-color: transparent; }

.course-outline .element-list-add-menu-default-render.ng-hide {
  opacity: 0;
  height: 0; }

.course-outline .element-details .name,
.course-outline .element-details .name a {
  word-wrap: break-word; }

.course-outline .element-details .name-controls {
  padding-top: 0.25rem; }
  .course-outline .element-details .name-controls button.small,
  .course-outline .element-details .name-controls .button.small {
    min-width: 0.75rem;
    text-align: left;
    height: 1.1875rem; }
  .course-outline .element-details .name-controls button.dropdown::after,
  .course-outline .element-details .name-controls .button.dropdown::after {
    position: absolute;
    top: calc(50% - 0.1875rem);
    border-color: #262626 transparent transparent transparent; }

.course-outline .element-details .name-middle {
  line-height: initial; }

.course-outline .element-details .vertical-bar {
  display: inline; }
  .course-outline .element-details .vertical-bar:after {
    content: ' | '; }

.course-outline .element-details .colo-bar {
  display: inline; }
  .course-outline .element-details .colo-bar:after {
    content: ' : '; }

.course-outline .element-details .time-limit {
  width: 100%;
  display: inline-block; }
  @media only screen and (min-width: 40.0625em) {
    .course-outline .element-details .time-limit {
      display: inline; }
      .course-outline .element-details .time-limit .vertical-bar:after {
        content: ' | ' !important; } }
  .course-outline .element-details .time-limit .vertical-bar:after {
    content: ' '; }

.course-outline .element-details .group-info {
  display: inline-block;
  padding-top: 0.25rem;
  width: 100%; }
  .course-outline .element-details .group-info .group-name {
    display: flex;
    line-height: 1.25rem; }
    .course-outline .element-details .group-info .group-name bb-svg-icon {
      margin-left: 0.1rem;
      margin-right: 0.3rem; }
    .course-outline .element-details .group-info .group-name:focus, .course-outline .element-details .group-info .group-name:hover {
      text-decoration: none; }
    .course-outline .element-details .group-info .group-name .group-target-guided {
      position: absolute;
      margin-left: 4.0625rem;
      margin-top: 0.625rem; }
    .course-outline .element-details .group-info .group-name .guidance-element-overlay.push-left {
      left: -3.875rem; }
    .course-outline .element-details .group-info .group-name > span {
      padding-right: 0.1875rem;
      vertical-align: middle; }
    .course-outline .element-details .group-info .group-name .title {
      width: 90%; }
    .course-outline .element-details .group-info .group-name .student-group-enrollment {
      width: 100%; }
  .course-outline .element-details .group-info .is-guided::after {
    margin-left: -1.5rem; }
  .course-outline .element-details .group-info .guidance-element-group {
    margin-top: 2.5rem; }

.course-outline .element-details .broken-lti-link {
  font-size: 0.75rem;
  font-style: italic;
  color: #ff3b30; }

.course-outline .element-card.has-link:hover {
  cursor: pointer; }

.course-outline .outline-header {
  display: flex;
  height: 2.25rem;
  align-items: center;
  background-color: #f8f8f8;
  border-top: 1px solid #cdcdcd;
  margin: 0 -0.9375rem;
  padding-left: 0.9375rem; }
  .course-outline .outline-header h3 {
    margin-bottom: 0; }
  .course-outline .outline-header .export-wrapper a {
    font-size: 1.125rem !important; }
  @media only screen and (min-width: 40.0625em) {
    .course-outline .outline-header {
      background-color: transparent;
      border-top: none;
      padding: 0 0 1.25rem;
      border-bottom: 1px solid #cdcdcd;
      margin: 0 0 0.9375rem; }
      .course-outline .outline-header.inventory-header {
        margin-bottom: -0.0625rem; } }
  .course-outline .outline-header .content-header {
    flex: 1;
    max-width: none; }
  .course-outline .outline-header .overflow-menu-button {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    height: 2.25rem; }
  .course-outline .outline-header .outline-header-link-wrapper a {
    display: block;
    line-height: 1.4;
    min-height: 0;
    font-size: 0.875rem; }

.course-outline .outline-column .spinner {
  position: absolute;
  top: 6.25rem;
  left: 50%; }

.course-outline .outline-column .spinner.infinite-scroll {
  top: initial !important;
  bottom: -0.625rem; }

@media only screen and (max-width: 40em) {
  .course-outline .outline-column [always-show="isFirst"] .add-element .element-list-add-menu {
    top: 0;
    position: relative; } }

@media only screen and (min-width: 40.0625em) {
  .course-outline .outline-column {
    padding: 0; } }

@media only screen and (min-width: 64.0625em) {
  .course-outline .outline-column {
    border-left: 1px solid #cdcdcd;
    padding-left: 1.875rem; } }

@media only screen and (max-width: 40em) {
  .course-outline .outline-column .item-controls {
    position: static;
    padding-right: 0 !important; } }

@media only screen and (max-width: 40em) {
  .course-outline .inventory {
    margin-top: 0; }
  .course-outline .outline-actions .outline-header {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #cdcdcd; }
  .course-outline .outline-actions a.is-guided {
    width: auto; } }

@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .course-outline .outline-actions a.column:last-child {
    float: left; } }

.course-outline .add-syllabus {
  margin-bottom: 1.25rem; }
  .course-outline .add-syllabus .add-element {
    margin-bottom: 1.25rem; }

.course-outline .main-instructor .element-card.usercard bb-avatar {
  width: 2.625rem;
  height: 2.625rem; }

.course-outline .guidance-click-through {
  pointer-events: none; }

.course-outline .outline-actions .element-details {
  text-align: left; }
  .course-outline .outline-actions .element-details .content {
    white-space: normal; }
    .course-outline .outline-actions .element-details .content .blue-link {
      color: #2075a3;
      text-decoration: underline; }

.course-outline .outline-actions .element-card {
  display: flex;
  align-items: flex-start;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  color: inherit; }
  .course-outline .outline-actions .element-card > a {
    text-decoration: none;
    display: inline-block; }
  .course-outline .outline-actions .element-card .element-image {
    color: #666666;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.25rem 0.5625rem 0 0; }
  .course-outline .outline-actions .element-card.ultra-collab .element-details, .course-outline .outline-actions .element-card.ultra-collab .content {
    overflow: visible; }

.course-outline .outline-actions .card-private-complete .course-status {
  background-color: transparent !important;
  padding: 0;
  box-shadow: none;
  margin-bottom: 0;
  max-width: 100%; }

.course-outline .outline-actions .card-private-complete .guidance-anchor:after,
.course-outline .outline-actions .card-question-banks .guidance-anchor:after {
  left: 0.6875rem;
  top: -2.125rem; }

.course-outline .outline-actions .announcements .disable {
  color: #767676; }

.course-outline .outline-actions .announcements .create-new {
  color: #2075a3;
  text-decoration: underline; }
  .course-outline .outline-actions .announcements .create-new:hover {
    cursor: pointer; }

.course-outline .outline-actions .announcements .isNotClickable {
  cursor: default; }
  .course-outline .outline-actions .announcements .isNotClickable a {
    cursor: default !important; }
    .course-outline .outline-actions .announcements .isNotClickable a:hover, .course-outline .outline-actions .announcements .isNotClickable a:focus {
      cursor: default;
      text-decoration: none !important; }
    .course-outline .outline-actions .announcements .isNotClickable a > span:hover {
      text-decoration: none !important; }

.course-outline .outline-actions .course-groups .create-new {
  color: #2075a3;
  text-decoration: underline; }
  .course-outline .outline-actions .course-groups .create-new:hover {
    cursor: pointer; }

.course-outline .outline-actions .course-groups .disabled {
  color: #767676;
  text-decoration: none !important; }
  .course-outline .outline-actions .course-groups .disabled:hover {
    cursor: default; }

.course-outline .outline-actions .student-preview .enter-preview-mode {
  color: #2075a3;
  text-decoration: underline; }

.course-outline .outline-actions .student-preview .guidance-container {
  bottom: 3.75rem;
  left: 9.375rem; }
  .course-outline .outline-actions .student-preview .guidance-container p {
    text-align: left; }
  .course-outline .outline-actions .student-preview .guidance-container h3 {
    margin-bottom: 1.25rem;
    color: #ffffff;
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
  .course-outline .outline-actions .student-preview .guidance-container:after {
    content: "";
    display: block;
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(45deg);
    right: 3.125rem;
    bottom: -0.5rem;
    background-color: #262626; }

@media only screen and (min-width: 40.0625em) {
  .course-outline .outline-actions {
    padding: 0; } }

@media only screen and (min-width: 64.0625em) {
  .course-outline .outline-actions {
    padding-right: 1.875rem; } }

.course-outline .row.course-outline-row {
  max-width: 100%; }

.collab-scroll-container {
  max-height: 6.25rem !important; }
  @media only screen and (min-width: 64.0625em) {
    .collab-scroll-container {
      max-height: 10rem !important; } }

.content-assignment-uploading {
  padding-top: 4.375rem;
  background-color: rgba(255, 255, 255, 0.7);
  left: -10%;
  top: -1.875rem;
  z-index: 200;
  position: absolute;
  width: 200% !important;
  height: calc(100% + 3.75rem); }
  .content-assignment-uploading .spinner {
    position: absolute !important; }

#copy-errors-notification {
  background: #f8f8f8;
  display: flex;
  border-top: 1px solid #cdcdcd;
  padding: 0.3125rem; }
  #copy-errors-notification #copy-errors-notification-content {
    width: calc(100% - 4.375rem);
    font-size: 0.875rem; }
    #copy-errors-notification #copy-errors-notification-content #copy-errors-notification-content-title {
      font-size: 1rem;
      font-weight: 600; }
  #copy-errors-notification > div {
    display: inline-block;
    padding: 0.3125rem; }
  #copy-errors-notification bb-svg-icon {
    display: inline-block;
    align-self: center;
    padding-right: 0.3125rem;
    margin-top: 0.625rem; }

#student-preview-modal {
  width: 31.25rem; }
  #student-preview-modal div.reveal-modal__header h1.reveal-modal__title {
    margin-top: 7.5rem;
    text-align: center; }
  #student-preview-modal div.reveal-modal__header button.close-reveal-modal {
    display: none; }
  #student-preview-modal div.reveal-modal__contents {
    min-height: 0; }
    #student-preview-modal div.reveal-modal__contents bb-svg-icon {
      position: absolute;
      top: 1.875rem;
      left: calc(50% - 2.1875rem); }
      #student-preview-modal div.reveal-modal__contents bb-svg-icon svg {
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 50%; }
    #student-preview-modal div.reveal-modal__contents p {
      padding: 0 1.875rem;
      margin-bottom: 1.5rem; }
  #student-preview-modal div.reveal-modal__footer-content {
    background-color: transparent;
    border-top: none;
    padding: 0; }
  #student-preview-modal div.reveal-modal__footer-buttons {
    margin: 0 6.25rem 1.875rem;
    width: 100%; }
    #student-preview-modal div.reveal-modal__footer-buttons span {
      width: 100%; }
      @media only screen and (min-width: 40.0625em) {
        #student-preview-modal div.reveal-modal__footer-buttons span {
          width: 50%; } }

.js-content-create-menu .accordion-navigation .menu .menu-item:hover {
  text-decoration: underline !important; }

.collab .panel-wrap .panel-header {
  margin-top: 0; }

.collab .panel-wrap .iframe-wrapper iframe {
  margin-top: 0.125rem;
  padding: 1.875rem; }

.ultra-collab .select-wrapper button {
  min-height: 1.5625rem; }

.ultra-collab .select-wrapper .join-session {
  margin: 0; }
  .ultra-collab .select-wrapper .join-session p {
    display: inline-block;
    text-decoration: underline;
    color: #1874a4 !important; }

.ultra-collab .select-wrapper .select-value.join-session:after {
  top: 0.1875rem;
  width: 0;
  height: 0;
  border: 0.3125rem solid transparent;
  border-top-color: #666666; }

@media only screen and (max-width: 40em) {
  .ultra-collab.element-card {
    margin-top: 0.75rem; } }

.ultra-collab.element-card .element-details {
  position: static !important; }
  .ultra-collab.element-card .element-details .name .overflow-menu-button {
    min-width: 1rem;
    min-height: 1rem;
    margin: 0.1875rem 0 0;
    display: inline-block;
    float: right;
    line-height: inherit; }
  .ultra-collab.element-card .element-details .f-dropdown.f-dropdown-overflow-menu {
    min-width: 14.375rem;
    display: none; }
    .ultra-collab.element-card .element-details .f-dropdown.f-dropdown-overflow-menu.open {
      display: block; }
    .ultra-collab.element-card .element-details .f-dropdown.f-dropdown-overflow-menu li a {
      font-weight: 400; }
    .ultra-collab.element-card .element-details .f-dropdown.f-dropdown-overflow-menu li:active a {
      color: #ffffff; }

#collab-dropdown li {
  border-bottom: 1px solid #cdcdcd; }
  #collab-dropdown li:hover a {
    text-decoration: initial; }
  #collab-dropdown li:last-child {
    border-bottom: none; }
  #collab-dropdown li a {
    vertical-align: middle;
    padding-left: 0.625rem; }
    #collab-dropdown li a bb-svg-icon {
      font-size: 0.875rem;
      margin-right: 0.375rem; }

.bg-usercard {
  display: none; }
  .bg-usercard.showcard {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #262626; }

.linkUsercard {
  overflow: hidden; }

.usercard-container > div {
  z-index: initial !important; }

.usercard {
  background: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 0 0 0 2px rgba(38, 38, 38, 0.7);
  cursor: default;
  overflow: hidden;
  position: absolute !important;
  padding: 0;
  margin: 0;
  max-width: 15rem;
  width: 15rem;
  z-index: 2000 !important;
  display: block;
  opacity: 0;
  top: -624.9375rem;
  left: -624.9375rem;
  transition: opacity 400ms; }
  @media only screen and (min-width: 40.0625em) {
    .usercard {
      max-width: 18.75rem;
      width: 18.75rem; } }
  .usercard.showcard {
    top: 0.9375rem;
    left: 10%;
    opacity: 1;
    padding-left: 0 !important; }
    @media only screen and (min-width: 40.0625em) {
      .usercard.showcard {
        left: 1.875rem; } }
    .usercard.showcard.peek-panel {
      top: 1.5625rem !important;
      left: 2.5rem !important; }
  .usercard.hidecard {
    opacity: 0; }
  .usercard .header, .usercard header {
    padding: 0.625rem;
    margin: 0;
    display: flex; }
    .usercard .header .element-details, .usercard header .element-details {
      margin: 0;
      padding: 0;
      padding-left: 0.625rem;
      min-height: 3.375rem;
      overflow: hidden;
      flex: 1; }
      .usercard .header .element-details .name, .usercard header .element-details .name {
        margin: 0;
        overflow: hidden; }
        .usercard .header .element-details .name .name-title, .usercard header .element-details .name .name-title {
          width: 100%;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          color: #262626; }
      .usercard .header .element-details .sector, .usercard header .element-details .sector {
        font-size: 0.75rem;
        line-height: 0.75rem;
        margin: 0;
        padding: 0;
        margin-top: 0.3125rem;
        width: 100%; }
      .usercard .header .element-details .userId, .usercard .header .element-details .profile, .usercard header .element-details .userId, .usercard header .element-details .profile {
        font-family: "Open Sans", sans-serif;
        color: #666666;
        font-size: 0.75rem;
        padding: 0;
        margin: 0;
        width: 100%; }
      .usercard .header .element-details .clickable, .usercard header .element-details .clickable {
        color: #262626; }
        .usercard .header .element-details .clickable:hover, .usercard header .element-details .clickable:hover {
          cursor: pointer;
          text-decoration: underline; }
    .usercard .header .element-image, .usercard header .element-image {
      position: relative;
      left: auto;
      top: 0;
      margin-top: 0; }
      .usercard .header .element-image.inactive:before, .usercard header .element-image.inactive:before {
        width: 3.71175rem;
        top: 1.3125rem;
        left: -0.54337rem; }
  .usercard .buttons {
    border-top: 1px solid #e5e5e5;
    display: block !important; }
    .usercard .buttons .button, .usercard .buttons button {
      margin: 0;
      color: #767676;
      float: right;
      vertical-align: middle; }
      .usercard .buttons .button:hover, .usercard .buttons .button:focus, .usercard .buttons button:hover, .usercard .buttons button:focus {
        background: transparent;
        color: #262626; }
      .usercard .buttons .button.wrap, .usercard .buttons button.wrap {
        line-height: 0.8125rem; }
      .usercard .buttons .button label, .usercard .buttons button label {
        display: inline-block; }
      .usercard .buttons .button i, .usercard .buttons button i {
        font-size: 1.25rem;
        vertical-align: middle; }
      .usercard .buttons .button span, .usercard .buttons button span {
        margin: 0;
        display: none; }
  .usercard .instructor, .usercard .instructor button {
    float: left !important;
    margin: 0;
    width: 100% !important; }
  .usercard a:not(.button) {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    word-wrap: normal !important;
    color: #262626;
    text-decoration: none;
    padding-bottom: 0.0625rem; }
    .usercard a:not(.button):hover, .usercard a:not(.button):focus {
      text-decoration: underline; }

.element-card .usercard-clickable .usercard-button .avatar-inner img:hover, .element-card .usercard-clickable .usercard-button .avatar-inner .initials:hover {
  cursor: pointer; }

.element-card .usercard-clickable .usercard-button .username {
  cursor: pointer; }

.element-card .usercard-not-clickable .usercard-button .avatar-inner img:hover, .element-card .usercard-not-clickable .usercard-button .avatar-inner .initials:hover {
  cursor: default; }

.element-card .usercard-not-clickable .usercard-button .username {
  cursor: text; }

.element-card .element-details .exception-link {
  padding-top: 0.4375rem !important;
  display: inline-block; }
  .element-card .element-details .exception-link bb-svg-icon {
    color: #c56fd5; }
  .element-card .element-details .exception-link a, .element-card .element-details .exception-link span {
    position: absolute;
    padding-left: 0.4375rem;
    padding-top: 0.1875rem; }

.element-card.usercard-not-clickable .header .element-details {
  cursor: auto; }

.course-element-card .usercard .buttons button {
  opacity: 1; }

#panel-export .com-export-package header, #panel-export .com-export-package ul > li {
  font-size: 0rem;
  text-align: justify; }
  #panel-export .com-export-package header > *, #panel-export .com-export-package ul > li > * {
    font-size: 0.875rem; }
  #panel-export .com-export-package header:after, #panel-export .com-export-package ul > li:after {
    content: "";
    width: 100%;
    display: inline-block; }

#panel-export .com-export-package {
  color: #262626; }
  #panel-export .com-export-package header {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 0.3125rem; }
    @media only screen and (min-width: 40.0625em) {
      #panel-export .com-export-package header {
        padding-top: 1.9375rem; } }
    #panel-export .com-export-package header .title {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.5rem; }
    #panel-export .com-export-package header .btn-export {
      color: #262626;
      display: inline-block;
      vertical-align: middle; }
  #panel-export .com-export-package ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0.75rem; }
    #panel-export .com-export-package ul > li {
      position: relative; }
      #panel-export .com-export-package ul > li:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 3rem;
        height: 0.0625rem;
        background: #cdcdcd; }
      #panel-export .com-export-package ul > li:hover {
        background: transparent;
        color: #262626;
        transition: 250ms; }
      #panel-export .com-export-package ul > li.in-progress {
        background-color: #cdcdcd;
        padding-left: 0.9375rem;
        margin-top: 0.625rem; }
      #panel-export .com-export-package ul > li .export-progress,
      #panel-export .com-export-package ul > li .file-link {
        width: 90%;
        display: inline-block;
        color: #666666;
        text-decoration: none;
        padding: 0.75rem 0;
        position: relative;
        transition: 250ms; }
        #panel-export .com-export-package ul > li .export-progress bb-svg-icon,
        #panel-export .com-export-package ul > li .file-link bb-svg-icon {
          margin-right: 0.625rem;
          margin-top: 0.3125rem;
          display: inline-block;
          vertical-align: top; }
        #panel-export .com-export-package ul > li .export-progress .description,
        #panel-export .com-export-package ul > li .file-link .description {
          width: 80%;
          display: inline-block;
          vertical-align: top; }
          #panel-export .com-export-package ul > li .export-progress .description .file-name,
          #panel-export .com-export-package ul > li .file-link .description .file-name {
            display: block;
            font-weight: bold;
            line-height: 1.3;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap !important;
            word-wrap: normal !important; }
          #panel-export .com-export-package ul > li .export-progress .description .progress-status,
          #panel-export .com-export-package ul > li .file-link .description .progress-status {
            display: block; }
      #panel-export .com-export-package ul > li .cancel-export,
      #panel-export .com-export-package ul > li .file-delete {
        display: inline-block;
        padding: 0.75rem 0;
        vertical-align: top;
        position: relative;
        top: 0.25rem;
        color: #767676; }
        #panel-export .com-export-package ul > li .cancel-export:hover,
        #panel-export .com-export-package ul > li .file-delete:hover {
          color: #262626; }
      #panel-export .com-export-package ul > li .cancel-export svg {
        transform: rotate(45deg); }

.multi-user-usercard {
  display: flex; }
  .multi-user-usercard .multi-user-avatar {
    margin-right: 0.5rem; }
    @media only screen and (min-width: 40.0625em) {
      .multi-user-usercard .multi-user-avatar {
        margin-right: 0; } }
  .multi-user-usercard .element-image {
    border-radius: 50%;
    width: 7.8125rem;
    height: 7.8125rem; }
    .multi-user-usercard .element-image .all-members svg {
      stroke-width: 2 !important; }
    .multi-user-usercard .element-image.multi-user-avatar .avatar {
      left: 0; }
      @media only screen and (min-width: 40.0625em) {
        .multi-user-usercard .element-image.multi-user-avatar .avatar {
          top: -0.625rem; } }
  .multi-user-usercard .element-details {
    display: block;
    width: 100%;
    overflow: visible; }
    .multi-user-usercard .element-details .view-users button.text {
      min-height: 0;
      padding: 0; }
      body:not(.hide-focus-outline) .multi-user-usercard .element-details .view-users button.text:focus,
      .hide-focus-outline .multi-user-usercard .element-details .view-users button.text.override-focus-outline:focus {
        outline: none;
        box-shadow: inset 0 0 0 0.125rem #006dc7 !important; }
      .multi-user-usercard .element-details .view-users button.text:focus {
        opacity: 1 !important; }
    .multi-user-usercard .element-details button.group-member-dropdown {
      margin: 0;
      padding: 0;
      background-color: transparent; }
      body:not(.hide-focus-outline) .multi-user-usercard .element-details button.group-member-dropdown:focus,
      .hide-focus-outline .multi-user-usercard .element-details button.group-member-dropdown.override-focus-outline:focus {
        outline: none;
        box-shadow: inset 0 0 0 0.125rem #006dc7 !important; }
    .multi-user-usercard .element-details button.group-member-dropdown, .multi-user-usercard .element-details .select-value {
      cursor: pointer; }
  .multi-user-usercard .multi-user-usercard-list {
    position: fixed;
    background: #ffffff;
    border: 1px solid rgba(38, 38, 38, 0.2);
    border-radius: 0.125rem;
    box-shadow: 0 0 0 0.25rem rgba(38, 38, 38, 0.075);
    cursor: default;
    margin: 0 0 0;
    min-width: 18.75rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.125rem 0.625rem;
    z-index: 5;
    max-width: 12.5rem;
    width: 100%;
    text-align: left; }
    .multi-user-usercard .multi-user-usercard-list.multiple-instructors {
      max-height: 19.375rem; }
    .multi-user-usercard .multi-user-usercard-list.group-users {
      max-height: 21.5rem; }
    .multi-user-usercard .multi-user-usercard-list ul {
      margin: 0;
      list-style: none; }
      .multi-user-usercard .multi-user-usercard-list ul .user-row {
        cursor: default;
        padding: 0.625rem 0;
        position: relative;
        display: flex;
        align-items: center; }
        .multi-user-usercard .multi-user-usercard-list ul .user-row .user-avatar {
          margin-right: 0.9375rem; }
          .multi-user-usercard .multi-user-usercard-list ul .user-row .user-avatar .element-image {
            box-shadow: none;
            height: 2.5rem;
            margin: 0;
            position: relative;
            top: 0;
            width: 2.5rem; }
            @media only screen and (max-width: 40em) {
              .multi-user-usercard .multi-user-usercard-list ul .user-row .user-avatar .element-image {
                left: 0; }
                .multi-user-usercard .multi-user-usercard-list ul .user-row .user-avatar .element-image img {
                  height: 100%; } }
            .multi-user-usercard .multi-user-usercard-list ul .user-row .user-avatar .element-image .initials {
              font-size: 1rem;
              line-height: 2.5rem; }
        .multi-user-usercard .multi-user-usercard-list ul .user-row .user-name {
          color: #262626;
          font-size: 0.875rem;
          font-weight: 600; }
        .multi-user-usercard .multi-user-usercard-list ul .user-row.separator::after {
          content: "";
          position: absolute;
          height: 0.0625rem;
          bottom: 0;
          right: 0;
          background: #cdcdcd;
          width: calc(100% - 3.4375rem); }
    .multi-user-usercard .multi-user-usercard-list .show-all-users {
      text-align: right; }
      .multi-user-usercard .multi-user-usercard-list .show-all-users button.text {
        margin-bottom: 0; }
      .multi-user-usercard .multi-user-usercard-list .show-all-users:hover, .multi-user-usercard .multi-user-usercard-list .show-all-users:focus, .multi-user-usercard .multi-user-usercard-list .show-all-users:active {
        background: transparent; }
        .multi-user-usercard .multi-user-usercard-list .show-all-users:hover a, .multi-user-usercard .multi-user-usercard-list .show-all-users:focus a, .multi-user-usercard .multi-user-usercard-list .show-all-users:active a {
          text-decoration: none; }
    @media only screen and (max-width: 40em) {
      .multi-user-usercard .multi-user-usercard-list {
        width: 94%;
        left: 3%;
        right: 3%;
        min-width: 15.625rem;
        min-height: 0; } }
    .multi-user-usercard .multi-user-usercard-list[tabindex]:focus {
      box-shadow: 0 0 0 0.25rem rgba(38, 38, 38, 0.075); }
    .multi-user-usercard .multi-user-usercard-list .list-header {
      border-bottom: 1px solid #cdcdcd; }
      .multi-user-usercard .multi-user-usercard-list .list-header h1 {
        line-height: inherit;
        font-weight: 600;
        font-size: 0.875rem;
        font-family: inherit; }
  .multi-user-usercard h2.slider-name {
    margin: 0; }

bb-multi-user-usercard .combined-view-all-button {
  display: none; }

bb-multi-user-usercard.combine-view-all .multi-users-title.name, bb-multi-user-usercard.combine-view-all .separate-view-all-button {
  display: none; }

bb-multi-user-usercard.combine-view-all .combined-view-all-button {
  display: inline; }

.notice.reveal-modal {
  padding: 0; }
  .notice.reveal-modal:before {
    content: '';
    display: block;
    height: 0.3125rem;
    left: -0.0625rem;
    position: absolute;
    right: -0.0625rem;
    top: -0.0625rem; }
  .notice.reveal-modal.notification {
    text-align: left;
    overflow: hidden; }
    @media only screen and (min-width: 64.0625em) {
      .notice.reveal-modal.notification {
        width: 48.125rem; } }
  .notice.reveal-modal h1.modal-title {
    border-bottom: 1px solid #e5e5e5;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 1.25rem; }
  .notice.reveal-modal .close-reveal-modal {
    display: none !important; }
  .notice.reveal-modal .notifications {
    border-top: 5px solid #e5e5e5;
    margin: 0;
    padding-left: 1.25rem;
    list-style: none; }
    .notice.reveal-modal .notifications .element-card {
      padding: 1.25rem 0; }
      .notice.reveal-modal .notifications .element-card + .element-card {
        margin-top: 0; }
      .notice.reveal-modal .notifications .element-card:last-child .element-details {
        border-bottom: none; }
      .notice.reveal-modal .notifications .element-card .element-details {
        border-bottom: 1px solid #e5e5e5; }
  .notice.reveal-modal .modal-footer {
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    margin-top: 0;
    padding: 0.625rem 1.25rem; }
  .notice.reveal-modal .dismiss-message {
    float: right;
    width: auto; }

.course .outline-details .schedule-outline {
  position: relative;
  margin-top: 0.625rem;
  display: none; }
  @media only screen and (min-width: 40.0625em) {
    .course .outline-details .schedule-outline {
      display: block; } }
  .course .outline-details .schedule-outline .item {
    display: flex;
    align-items: flex-start; }
    .course .outline-details .schedule-outline .item .element-details {
      margin-top: -0.25rem; }
    .course .outline-details .schedule-outline .item + .item {
      margin-top: 0.125rem; }
      .course .outline-details .schedule-outline .item + .item .element-card {
        padding-left: 2.125rem; }
        .course .outline-details .schedule-outline .item + .item .element-card .element-details {
          margin-top: 0; }
  .course .outline-details .schedule-outline .element-card {
    align-items: flex-start;
    width: 10.625rem; }
    .course .outline-details .schedule-outline .element-card .element-details {
      font-size: 0.75rem;
      line-height: 1.5; }
      .course .outline-details .schedule-outline .element-card .element-details .name {
        font-size: 0.875rem;
        white-space: normal;
        padding-left: 0; }
    .course .outline-details .schedule-outline .element-card .element-image {
      width: auto;
      height: auto;
      border: none;
      box-shadow: none;
      top: 0.3125rem; }
      .course .outline-details .schedule-outline .element-card .element-image i {
        font-size: 1.75rem; }
        @media only screen and (min-width: 40.0625em) {
          .course .outline-details .schedule-outline .element-card .element-image i {
            font-size: 2rem; } }
  .course .outline-details .schedule-outline .element-card + .element-card {
    margin-top: 0;
    margin-left: 1.25rem; }
  .course .outline-details .schedule-outline .more {
    padding-left: 2.125rem;
    white-space: nowrap; }

.schedule-outline .schedule {
  white-space: normal; }

bb-schedule-popup-outline .popup-schedule-list .course-schedule-list-wrapper {
  background-color: white;
  z-index: 2;
  cursor: default;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(38, 38, 38, 0.2);
  border-radius: 0.125rem;
  box-shadow: 0 0 0 0.25rem rgba(38, 38, 38, 0.075);
  padding: 0.125rem 0.625rem 0.125rem 0.9375rem; }
  @media only screen and (min-width: 40.0625em) {
    bb-schedule-popup-outline .popup-schedule-list .course-schedule-list-wrapper {
      max-width: 92%; } }
  @media only screen and (max-width: 40em) {
    bb-schedule-popup-outline .popup-schedule-list .course-schedule-list-wrapper {
      left: 0.25rem;
      right: 0.25rem; } }
  bb-schedule-popup-outline .popup-schedule-list .course-schedule-list-wrapper .course-schedule-list {
    margin: 0;
    list-style: none; }
    bb-schedule-popup-outline .popup-schedule-list .course-schedule-list-wrapper .course-schedule-list li {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #e5e5e5; }
      bb-schedule-popup-outline .popup-schedule-list .course-schedule-list-wrapper .course-schedule-list li.no-view-all-link:last-child {
        border-bottom: none; }
      bb-schedule-popup-outline .popup-schedule-list .course-schedule-list-wrapper .course-schedule-list li div {
        word-break: break-word; }
  bb-schedule-popup-outline .popup-schedule-list .course-schedule-list-wrapper .view-all {
    box-shadow: none !important;
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }


/*# sourceMappingURL=117-7d964602f14e65fc2781.css.map*/